body {
  /* font-family: "EB Garamond", serif; */
  font-family: 'Linux Libertine O', sans-serif;
  font-size: 100%;
}

/* .main-text,
.button-container {
  font-family: "EB Garamond", serif;
}

.program-container {
  font-family: "EB Garamond", serif;
  font-size: 100%;
} */
